*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
}
body{
    max-width: 1685px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@font-face {
    font-family:"poppins" ;
    src: url(/fonts/Poppins-Medium.otf);
}
header{
    background-color: #FFF;
}
header main{
    background-color:#DCEAF5;
    width: 100vw;
}
/*nav-----------------------------*/
nav{
    display: flex;
    height: 84px;
    background-color: #FFFFFF;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    list-style-type: none;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: poppins;
    text-decoration: none;
}
header button{
    color:#F58A07;
    cursor: pointer;
    border-radius: 31px;
    width:100px;
    height: 30px;
}
/* main-------------------------*/
main{
    display:flex;
    justify-content: space-evenly;
    padding-left: ;
    max-height: 703px;
}
main .content{
    max-width: 576px;
    max-height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}
main .image{
    max-width: 747px;
    max-height: 618px;
    transform: translateY(-28px);
}
main .content h1{
    font-family: poppins;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1d3444;
}
.content .lorem{
    font-family: poppins;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}
.content .service{  
    font-family: poppins;
    font-weight:600;
    font-size: 16px;
    line-height: 106.6%;
    text-transform: capitalize;
    color: #FFFFFF;
    border: 10px solid #F58A07;
    background-color: #F58A07;
    border-radius: 27px;
}
.content div img{
    padding: 10px;
}
.content .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
}
.buttons .service-2{
    color: #1D3444;
}
/*main------------------------------------------------*/  
.scroll-2{
    max-width: 1933px;
    max-height: 740px;
    display: flex;
    width: 100vw;
    height: 740px;
    margin: 50px;
    flex-direction: column;
    padding-left: 320px;
    padding-right: 320px;
}
.scroll-2-1{
    transform: translateX(100px);
}
.scroll-2-1 h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    width: 735px;
    height: 112px;
}
.scroll-2-1 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    color: #5B5B5B;
    width: 735px;
    height: 90px;
}
.scroll-2-2{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 50px;
    transform: translateX(100px);
}
.scroll-2-2 img{
    border-radius: 20px;
    width: 400px;
    height: 242px;
}
.scroll-2-2 div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.learn{
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    margin-top:20px;
    color: #F58A07;
}
.learn::after{
    content: "\2192";
}
header::after{
    clear: both;
}
.third{
    max-width: 1920px;
    max-height: 665px;
    background-color: #EDF7FF;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    padding: 60px 200px;
}
h4{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.03em;
    text-align: left;
}
.third div img{
    width: 34px;
    height: 33px;
}
.third h3{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.03em;
    height: 132px;
    width: 619px;
    color: #0D1317;
}
.third p{
    height: 102px;
    width: 620px;
    border-radius: nullpx;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
}
.card{
    width: 401px;
    height: 277px;
    border-radius: 20px;
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
}
.fourth{
    display: flex;
    justify-content: space-evenly;
    padding:50px 320px 0 320px;
}
.fourth img{
    border-radius: 20px;
    width: 1434px;
    height: 688px;
}
.fourth-2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.fourth-2-1{
    display: flex;
    flex: row;
    flex-wrap: wrap;
}
.fourth-2 h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
}
/* footer--------------------------------------------------------*/
footer{
    background: #DCEAF5;
    margin-top: 100px;
}
.footer-1{
    padding: 216px 320px 96px 320px;
    display: flex;
}
.footer-1 .footer-1-1{
    flex: 1;
}
.footer-p{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #0D1317;
    flex: 1;
    padding: 50px 320px 0px 320px;
    }
.footer-1{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 50px 320px 0px 320px;
    border-radius: 20px;
}
.footer-1 img{
    border-radius: 20px;
    width: 400px;
    height: 242px;
}
.footer-1 div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.b-p{
    margin: 0 20px 0 20px;
    background-color: #FFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.b-p img{
    width: 400px;
    height: 230px;
}
.learn{
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    margin-top:20px;
    color: #F58A07;
}
.learn::after{
    content: "\2192";
}
.b-p p b{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #0D1317;
    text-align: center;
}
.footer-1-p{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    text-align: center;
}
.footer-2{
    background: #063255;
    padding: 80px 320px;
    display: flex;
    justify-content: space-between ;
}
.footer-2 p{
    color: #FFF;
}
.footer-2 h5{
    color: #FFF;
    margin: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
.footer-2-1 img{
    margin:20px 5px 20px 5px
}
.footer-2-2 p{
    margin: 20px;
}
.footer-2-3 p{
    margin: 20px;
}
.footer-2-4{
    display: flex;
    flex-direction: column;
}
.footer-2-4 input{
    margin-top: 20px;
    width: 342px;
    height: 54px;
    background: #FFFFFF;
    border-radius: 31px;
    text-align: center;
}
.footer-2-4 button{
    margin-top: 20px;
    background: #F58A07;
    border-radius: 31px;
    width: 156;
    height: 54px;
}