@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.otf);
}
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
    font-weight: 600;
}
header{
    background-color: #FFF;
    padding-top: 20px;
}
header main{
    background-color:#DCEAF5;
    width: 100vw;
}
/*nav---------------------------------*/
nav{
    display: flex;
    height: 84px;
    background-color: #FFFFFF;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    list-style-type: none;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: poppins;
}
header nav ul .button{
    border: 20px solid rgba(245, 138, 7, 0.1);
    color:#F58A07;
    cursor: pointer;
    border-radius: 31px;
    transform: translateY(-20px);
}
/*main-------------------------------*/
.container-1{
    display: flex;
    justify-content: center;
    padding-top: 160px;
    padding-right: 272px;
    padding-left: 272px;
    padding-bottom: 0;
}
.container-1 div{
    display: flex;
    flex-direction: column;
}

.container-1 h1{
    color:#1d3444;
    font-weight: 600;
    font-size: 54px;
    line-height: 72px;
    letter-spacing: 0.03em;
}
.container-1 p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}
.container-1 div .button{
    background: #F58A07;
    border-radius: 27px;
    color: #FFF;
    text-transform: capitalize;
    width: 171px;
    height: 54px;
}
.container-1 .img{ 
    position: relative;
    width: 616px;
    height: 650px;
}
.container-1 .img img{
    /* position: absolute; */
}
.container-1 div div{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 0px 19px 20px 0px;
    transform: rotate(180deg);
}
.container-2{
    padding-top: 150px;
    padding-left: 272px;
    padding-right: 272px;
    display: flex;
}
.container-2 .img{
    width: 620px;
    height: 550px;
    position: relative;
    flex: 1;
}
.container-2 .p{
    flex: 1;
    width: 620px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 10px;
    flex-direction: column;
    justify-content: space-around;
}
.container-2 .img div{
    position: absolute;
    top: 30%;
    left: -8%;
    width: 95px;
    height: 97px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}
.business{
    font-size:48px;
    line-height: 56px;
    color:#0d1317;
}
.business-after{
    font-size: 18px;
    line-height: 30px;
}
.container-2 .p ul li{
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
}
.container-3{
    display: flex;
    padding: 150px 272px 0 272px;
    
}
.container-3 .p{
    flex: 1;
}
.container-3 .img{
    flex: 1;
}